DATABASE_URL=postgresql://nuexpense:nuexpense@localhost:5433/nuexpense
DIRECT_URL=postgresql://nuexpense:nuexpense@localhost:5433/nuexpense
JWT_ACCESS_SECRET=your-access-secret-here
JWT_REFRESH_SECRET=your-refresh-secret-here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-bucket-name
GROQ_API_KEY=your-groq-api-key
SES_HOST=email-smtp.us-east-1.amazonaws.com
SES_PORT=2465
SES_SMTP_USERNAME=your-ses-smtp-username
SES_SMTP_PASSWORD=your-ses-smtp-password
SES_FROM_MAIL=no-reply@yourdomain.com
PORT=3000
FRONTEND_URL=http://localhost:3001
